body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.box{
  width: 100px;
  height: 100px;
  display: flex;
  background: url('./images/1.png');
}
.one{
  background: url('./images/2.png');
}
